.cardList {
  margin: 30px 0;
  .title {
    text-align: center;
  }
  .slick-next,
  .slick-prev {
    display: none;
  }
  .sub-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .wrapper {
    width: 80%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .wrapperItem {
      width: 30%;
      // margin: 0 10px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      .wrapperItem {
        width: 45%;
      }
    }
    @media (max-width: 768px) {
      .wrapperItem {
        width: 100%;
      }
    }
  }
}
