.messengerItem{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    transition: all 0.3s linear;
    padding : 4px;
    border-radius: 10px;
    &:hover{
        background-color: #4a4b4c;
        cursor: pointer;
    }
    img{
        height: 54px;
        width: 54px;
        border-radius: 50%;
    }
    .content{
        margin-left: 10px;
        color: white;
        .message{
            margin-top: 0;
        }
    }
}