.carousel {
    .slick-arrow{
        display: none !important;
    }
    .imageContainer{
        height: 90vh;
        .image{
            height: 100%;
            width: 100%;
            background-repeat: no-repeat !important;
            background-size:100% 100% !important; 
            position: relative;
            
        }
    }
.slick-dots{
    bottom: 15px;
    li{
        &.slick-active{
            button{
                &::before{
                    color: #FFA500;
                }
            }
        }
        button{
            &::before{
                color : gray;
                font-size : 24px
            }
        }
    }
}
}