.banner_info {
  h1 {
    text-align: center;
    // margin: 50px 0;
    color: #343c35;
  }
  .banner_list {
    width: 70%;
    // height: 100px;
    // background-color: red;
    margin: 0 auto;
  }
}
.banner_item {
  height: 200px;
  margin: 30px 0;
  &:last-child {
    margin-bottom: 60px;
  }
  border-radius: 20px;
  background-repeat: no-repeat;
  // width: 100%;
  background-position: 0 -400px;
  div {
    position: relative;
    top: 10px;
    // width: 40%;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    h2 {
      color: #fda401;
    }
    p {
      color: white;
      margin: 10px 0;
    }
  }
  // background-size: contain;
}
